<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e31aabf3-a8d3-45c0-afd9-b4b02735255d/resourcegroups/LetUSReadBookManagement/providers/Microsoft.Web/sites/LibraryServices20201128200212</ResourceId>
    <ResourceGroup>LetUSReadBookManagement</ResourceGroup>
    <ApiResourceId>/subscriptions/e31aabf3-a8d3-45c0-afd9-b4b02735255d/resourceGroups/LetUSReadBookManagement/providers/Microsoft.ApiManagement/service/LetUSReadBookManagement/apis/allbooks</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://libraryservices20201128200212.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d386c4c9-95dc-46b9-86b7-b3dd57d70881</ProjectGuid>
    <MSDeployServiceURL>libraryservices20201128200212.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LibraryServices20201128200212</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LibraryServices20201128200212</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>